* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
    --cellBorder: 3px solid black;
}

body {
    /* temp */
    background-color: rgb(105, 105, 105);
}

.generator {
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

#play-field {
    width: 100%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
}

table.play-field {
    width: 400px;
    height: 400px;
    font-size: 75px;
    border-collapse: collapse;
    font-family: 'Nunito', sans-serif;
}
.play-field td {
    width: 40px;
    height: 40px;
    border: 2px solid black;
}
td.nbr-top {
    border-top: none;
}
td.nbr-bottom {
    border-bottom: none;
}
td.nbr-left {
    border-left: none;
}
td.nbr-right {
    border-right: none;
}
.cell {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.result {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 40px;
}

.reset > button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 25px;
}

.reset > button:hover {
    cursor: pointer;
}

.score table {
    border-collapse: collapse;
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 30px auto 0 auto;
}
.score td {
    border: 1px solid black;
}

/* ----------DARK MODE SWITCH---------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}


/* ---------DARK THEME--------- */
.body-dt {
    background-color: rgb(19, 23, 31) !important;
    color: rgb(147, 149, 160) !important;
}

.cell-dt {
    border-color: rgb(147, 149, 160) !important;
}