* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --cellBorder: 3px solid black;
    --blueMain: #0069d9;
    --blueLighter: #add4ff;
}

#page {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

#main-page {
    background-color: rgb(232, 245, 252);
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    padding-left: 80px;
    z-index: auto;
    /* justify-content: center; */
}

/* ----------------- */
/* ------ASIDE------ */
/* ----------------- */

.aside-main {
    max-width: 80px;
    width: 80px;
    height: 100vh;
    position: absolute;
    z-index: 5;
    box-shadow: 8px 0px 25px -8px var(--blueMain);
}

.aside-background {
    width: 100%;
    height: 100%;
    background-color: var(--blueMain);
    position: absolute;
    z-index: 2;
}

.aside-content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.settings-svg {
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.svg-settings {
    width: 70px;
    height: 70px;
    color: var(--blueLighter);
    transform: rotate(0deg);
    transition: transform .7s;
}
.svg-settings-rotate {
    transform: rotate(90deg);
    transition: transform .7s;
}

.settings-window {
    position: absolute;
    bottom: 0;
    width: 300px;
    transform: translateX(-400px);
    transition: transform .7s;
    height: 350px;
    margin-left: 80px;
    background-color: var(--blueLighter);
    box-shadow: 0px 0px 19px 5px var(--blueLighter), inset 20px 0px 20px -13px var(--blueMain);
    border-radius: 0 30px 30px 0;
    border: 2px solid var(--blueMain);
    z-index: 1;
}
.settings-wide {
    transform: translateX(0px);
    transition: transform .7s;
}

.settings-content {
    padding: 10px;
    white-space: nowrap
}

/* ----------------- */
/* ----MAIN LEFT---- */
/* ----------------- */

.main-left {
    /* background-color: pink; */
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1px;
}

.main-left h3 {
    color: white;
    text-shadow: 0px 0px 4px var(--blueMain);
}

.window-left {
    width: 350px;
    max-width: 100%;
    height: 250px;
    max-height: 50%;
    border-radius: 1.3em;
    border: 2px solid var(--blueMain);
    box-shadow: inset 0px 0px 13px -3px var(--blueMain);
    background-color: var(--blueLighter);
    font-size: 150%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.generator-form{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 120px));
    grid-template-rows: repeat(3, minmax(25px, 40px));
    grid-gap: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
.gform-label {
    color: white;
    text-shadow: 0px 0px 4px var(--blueMain);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--blueLighter);
    box-shadow: inset 0px 0px 20px 3px var(--blueMain);
    border: 2px solid var(--blueMain);
    border-radius: 18px;
    transition: box-shadow 70ms ease-in-out;
}
.gform-label:hover {
    box-shadow: inset 0px 0px 20px 6px var(--blueMain);
}
input[type=radio]:checked + .gform-label{
    color: white;
    background-color: var(--blueLighter);
    box-shadow: inset 0px 0px 20px 15px var(--blueMain);
}
#generate {
    grid-column: 1 / 3;
}

.score {
    /* margin-top: 1px; */
    /* width: 350px;
    max-width: 100%;
    height: 250px;
    max-height: 50%;
    border-radius: 40px;
    border: 2px solid var(--blueMain);
    box-shadow: inset 0px 0px 13px -3px var(--blueMain);
    background-color: var(--blueLighter);
    font-size: 150%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.points-table {
    width: 60%;
    /* height: 40%; */
    /* border-collapse: collapse; */
    /* margin: 20px 0; */
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px var(--blueMain);
    /* border-radius: 40px;
    border: 2px solid var(--blueMain);
    box-shadow: inset 0px 0px 13px -3px var(--blueMain);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; */
}
.points-cell {
    height: 40px;
    margin: 8px 0 0 0;
    border-radius: 40px;
    border: 2px solid var(--blueMain);
    /* box-shadow: inset 0px 0px 13px -3px var(--blueMain); */
    display: flex;
    line-height: 40px;
}
.table-player {
    width: 50%;
    border-right: 2px solid var(--blueMain);
    border-radius: 40px 0 0 40px;
    /* box-shadow: inset 0px 0px 13px -3px var(--blueMain); */
    box-shadow: inset 0px 0px 15px 0px var(--blueMain);
}
.x-points, .o-points {
    width: 50%;
    text-align: center;
    border-radius: 0 40px 40px 0;
    /* box-shadow: inset 0px 0px 13px -3px var(--blueMain); */
    box-shadow: inset 0px 0px 15px 0px var(--blueMain);
}
.points-reset {
    width: 60%;
    height: 40px;
    margin-top: 8px;
}
.points-reset:hover {
    cursor: pointer;
    background-color: #3980cc;
}

.blue-button {
    background-color: var(--blueLighter);
    box-shadow: inset 0px 0px 20px 15px var(--blueMain);
    border-radius: 18px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: background-color 70ms ease-in-out;
}
.blue-button:hover {
    cursor: pointer;
    background-color: #3980cc;
}


/* ----------------- */
/* ----MAIN RIGHT--- */
/* ----------------- */


.main-right {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1px;
}

.right-window {
    width: 700px;
    max-width: 100%;
    height: 700px;
    max-height: 100%;
    border-radius: 3em;
    border: 2px solid var(--blueMain);
    background-color: var(--blueLighter);
    box-shadow: inset 0px 0px 13px -2px var(--blueMain);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ttt-img {
    width: 600px;
    height: 600px;
    position: absolute;
    opacity: 1;
    transition: opacity .5s;
}
.ttt-non-vis {
    opacity: 0;
    transition: opacity .5s;
    /* z-index: -1; */
}


/* -----PLAYFIELD----- */
#play-field {
    width: 100%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.pf-vis {
    opacity: 1 !important;
    transition: opacity 1s ease-in;
}

table.play-field {
    width: 500px;
    height: 500px;
    font-size: 75px;
    border-collapse: collapse;
    font-family: 'Nunito', sans-serif;
}
.play-field td {
    border: 5px solid var(--blueMain);
}

.play-field[data-size="3"] tbody {
    height: calc(100% / 3);
}
.play-field[data-size="3"] td {
    width: calc(100% / 3);
}

.play-field[data-size="4"] tbody {
    height: calc(100% / 4);
}
.play-field[data-size="4"] td {
    width: calc(100% / 4);
}

.play-field[data-size="5"] tbody {
    height: calc(100% / 5);
}
.play-field[data-size="5"] td {
    width: calc(100% / 5);
}

.play-field[data-size="6"] tbody {
    height: calc(100% / 6);
}
.play-field[data-size="6"] td {
    width: calc(100% / 6);
}

.reset {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    width: 250px;
    height: 60px;
    border-radius: 3em;
    box-shadow: inset 0px 0px 25px 20px var(--blueMain);
}

.result {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 4px var(--blueMain);
}

/* BORDERS */
td.nbr-top {
    border-top: none;
}
td.nbr-bottom {
    border-bottom: none;
}
td.nbr-left {
    border-left: none;
}
td.nbr-right {
    border-right: none;
}

.cell {
    text-align: center;
}

/* PLAYERS */
.x {
    color: red;
}
.o {
    color: rgb(0, 204, 255);
}


/* .flex-center {
    display: flex;
    justify-content: center;
} */

/* .result {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 40px;
} */

/* .reset > button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 25px;
} */

/* .reset > button:hover {
    cursor: pointer;
} */

/* .score {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */
/* .score table {
    border-collapse: collapse;
    width: 100px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 30px auto 0 auto;
} */
/* .points-reset
{
    width: 100px;
    height: 30px;
    font-size: 20px;
} */


/* ----------DARK MODE SWITCH---------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}


/* ---------DARK THEME--------- */
.body-dt {
    /*  !important */
    background-color: rgb(19, 23, 31);
    color: rgb(147, 149, 160);
}

.cell-dt {
    border-color: rgb(147, 149, 160);
}



@media screen and (max-height: 405px) {
    .main-left {
        justify-content: start;
    }
    .window-left {
        height: 202px;
        max-height: 202px;
        min-height: 202px;
    }
}
@media screen and (max-width: 630px) {
    .main-left {
        align-items: flex-start;
    }
    .window-left {
        width: 165px;
        max-width: 165px;
        min-width: 165px;
    }
}